<div class="card card-block">
  <h4 class="card-title">Add a Question</h4>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the question"
           #question>
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the answer"
           #answer>
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="createPost(question.value, answer.value); question.value=''; answer.value='';">Create
  </button>
</div>
