<div class="card card-block">
  <h4 class="card-title">Add a Question</h4>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the question"
           [(ngModel)]="post.question"
           #question="ngModel">
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Enter the answer"
           [(ngModel)]="post.answer"
           #answer="ngModel">
  </div>

  {{post.question}} {{post.answer}}

  <button type="button"
          class="btn btn-primary"
          (click)="createPost(question.value, answer.value); question.value=''; answer.value='';">Create
  </button>
</div>
